.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    border-bottom: 3px solid rgba(0, 0, 0,0.7);
}
.data {
    width: 30%;
}

user agent stylesheet
div {
    display: block;
}
img {
    overflow-clip-margin: content-box;
    overflow: clip;
    margin-left:20px;
}
p {
    color: rgba(0,0,0,0.6);
}

user agent stylesheet
p {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}
.div1{
    width: 250px;
    font-size: 15px;
}
#after{
    width:200px;
}